body {
  background-color: #232225;
  font-family: 'Times new roman', sans-serif;
  color: #222;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: rgb(202, 193, 193);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #0f0f0f;
}

.checklist li {
  list-style: none;
  margin: 10px 0;
  font-size: 18px;
}
.status-text {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 16px;
  color: #28a745;
}

.checklist input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
  accent-color: #007BFF;
}

.checklist li:hover {
  background: #f5faff;
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s;
}
